{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": false,
            }
        ],
    ],
    "plugins": [
        "@babel/plugin-transform-runtime",
        "@babel/transform-react-jsx",
        "@babel/plugin-proposal-class-properties"
    ]
}